ul li {
  list-style: none !important;
}

a {
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
  font-family: "PT Sans Caption" !important;
}

.page-wrapper {
  margin: 0 auto;
}

.container {
  max-width: 1179px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  border-bottom: 1px solid white;
}

@media (max-width: 991px) {
  .header {
    padding: 16px 0;
    -webkit-box-shadow: 0px 1px 15px rgba(7, 43, 68, 0.1);
            box-shadow: 0px 1px 15px rgba(7, 43, 68, 0.1);
  }
}

.header__containe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 10;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 48px;
}

@media (max-width: 991px) {
  .header__nav {
    gap: 8px;
    position: relative;
  }
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 48px;
}

@media (max-width: 991px) {
  .header__menu {
    margin: 0;
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 50%;
    left: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 26px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: #1c64a7;
    z-index: 1;
  }
}

.header__menu-item {
  color: white;
}

.header__link {
  font-size: 18px;
  line-height: 26px;
  color: #1c64a7;
  position: relative;
  text-decoration: none;
}

.header__link::after {
  content: "";
  display: block;
  width: 0;
  margin: 5px auto 0;
  height: 1px;
  background-color: white;
  -webkit-transition: width 0.6s;
  transition: width 0.6s;
}

.header__link:hover::after {
  width: 80%;
  color: white !important;
}

.header__link--active::after {
  width: 80%;
}

@media (max-width: 991px) {
  .header__link::after {
    display: none;
  }
}

.header__mag {
  height: 24px;
  width: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 10;
}

.header__gam-btn {
  display: none;
}

@media (max-width: 991px) {
  .header__gam-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
  }
}

.header__gam-line {
  width: 16px;
  height: 1px;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  background: #0e3457;
}

.header .gam-btn {
  z-index: 10;
}

@media (max-width: 991px) {
  .header .gam-btn {
    margin-left: 170px;
  }
}

.header .gam-btn-input {
  display: none;
}

.header .gam-btn-input:checked ~ .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
}

.header .gam-btn-input:checked ~ .gam-btn .header__gam-line:first-child {
  -webkit-transform: rotate(311deg) translate(-2px, 2px);
          transform: rotate(311deg) translate(-2px, 2px);
}

.header .gam-btn-input:checked ~ .gam-btn .header__gam-line:nth-child(2) {
  display: none;
}

.header .gam-btn-input:checked ~ .gam-btn .header__gam-line:last-child {
  -webkit-transform: rotate(230deg) translate(2px, 2px);
          transform: rotate(230deg) translate(2px, 2px);
}

.box__title {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  margin-bottom: 48px;
  margin-top: 120px;
  color: #0e3457;
  font-size: 28px;
  line-height: 37px;
}

@media (max-width: 991px) {
  .box__title {
    margin-bottom: 48px;
    margin-top: 120px;
  }
}

.box__btn {
  margin: 0 auto;
  padding-top: 36px;
  padding-bottom: 120px;
  color: #1c64a7 !important;
}

@media (max-width: 991px) {
  .box__btn {
    padding-bottom: 60px;
  }
}

.box__btn-p {
  background-color: #1c64a7;
}

.box__card {
  max-width: 300px;
  position: relative;
  overflow: hidden;
}

.box__item1 {
  padding: 14px 12px;
}

.box__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.box__arch {
  border: 1px solid #bac7d2;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
  font-size: 12px;
  padding-right: 8px;
}

.box__more {
  text-decoration: underline;
  color: #1c64a7;
  vertical-align: middle;
}

.box__item4 {
  display: block;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #bac7d2;
}

.box__item3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #bac7d2;
}

.box__p {
  font-size: 12px;
  margin: 0px;
}

.box__item--title {
  font-size: 22px;
  padding-top: 12px;
  padding-bottom: 4px;
  margin: 0;
  text-align: start;
  color: #0e3457 !important;
}

.box__item--text {
  margin: 0;
  font-size: 14px;
  font-weight: 20px;
  color: #6a8baa;
  padding-bottom: 4px;
}

.box__item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 21px;
  padding-bottom: 14px;
}

.box__item2--box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #bac7d2;
  gap: 3px;
}

.box__item2--box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #bac7d2;
  gap: 3px;
}

.box__item2--img {
  height: 21px;
  width: 21px;
}

.box__item2--share {
  margin: 0;
  font-size: 14px;
  color: #1c64a7;
}

.box__item2--p {
  margin: 0;
  font-size: 14px;
}

.box__item2--img {
  height: 21px;
  width: 21px;
}

.uk-card-title {
  text-transform: uppercase;
  font-family: "PT Sans Caption";
}

h3 {
  color: #0e3457;
}

footer {
  background-color: rgba(106, 139, 170, 0.1);
}

.footer__box {
  border-bottom: 1px solid #bac7d2;
  padding-top: 60px;
  padding-bottom: 30px;
  margin-bottom: 36px;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 80px;
}

@media (max-width: 991px) {
  .footer__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 4px;
  }
}

.footer__menu-item1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer__box-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap !important;
      flex-wrap: nowrap !important;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__box-item1 {
  margin-left: 200px;
  text-align: right;
}

@media (max-width: 991px) {
  .footer__box-item1 {
    text-align: left;
  }
}

.footer__link {
  color: #1c64a7;
}

.footer__link-wrapper {
  display: block;
  margin-right: 50px;
}

@media (min-width: 991px) {
  .footer__link-wrapper {
    display: inline;
    margin-left: 0;
  }
}

.footer__logo {
  display: block;
}

@media (max-width: 991px) {
  .footer__logo {
    display: none;
  }
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 60px;
}

@media (max-width: 991px) {
  .footer__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 23px;
  }
}

.footer__item2--contact {
  font-family: "Montserrat" !important;
  color: #0e3457 !important;
  font-size: 16px;
}

@media (max-width: 991px) {
  .footer__item2--contact {
    font-size: 14px;
  }
}

.footer__item2--p {
  font-family: "Montserrat" !important;
  color: #0e3457 !important;
  font-size: 16px;
}

@media (max-width: 991px) {
  .footer__item2--p {
    font-size: 14px;
  }
}

.footer__item3--p {
  font-family: "Montserrat" !important;
  font-size: 16px;
  color: #0e3457 !important;
}

@media (max-width: 991px) {
  .footer__item3--p {
    font-size: 14px;
  }
}

.footer__item3--social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 991px) {
  .footer__item3--social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 20px;
  }
}

.footer__item3--img {
  cursor: pointer;
}

@media (max-width: 991px) {
  .footer__uk-img {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .footer__img {
    width: 100% !important;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 24px;
}

@media (max-width: 991px) {
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.swiper-slide:first-child {
  width: 10%;
}

.swiper-slide:nth-child(2n) {
  width: 60%;
}

.swiper-slide:nth-child(3n) {
  width: 40%;
}

.swiper-slide:nth-child(4n) {
  width: 20%;
}

.container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 28px;
  margin-bottom: 65px;
  gap: 0px;
}

.btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn:active, .btn:hover {
  fill: #1c64a7;
}

.btn:active,
.btn:hover {
  fill: #1c64a7;
}

.icon {
  width: 24px;
  height: 24px;
  stroke: #1c64a7;
}

.btn:hover .icon {
  stroke: #1c64a7;
}

.page--link:link,
.page--link:visited {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #343a40;
  background-color: transparent;
  padding: 2px 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 22px;
  width: 22px;
}

.page--link:active,
.page--link:hover,
.page--link.page--link--current {
  background-color: transparent;
  border: 1px solid #1c64a7;
  border-radius: 10%;
}

.link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

span {
  color: #adb5bd;
}

.uk-grid-column-medium {
  display: inline;
}

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  margin-bottom: 24px;
  overflow: auto;
  min-width: 100%;
  height: 37px;
}

.book {
  width: auto;
  max-width: 30vw;
  margin-right: 20px;
}
/*# sourceMappingURL=blog.css.map */