$tab: 991px;
ul {
  li {
    list-style: none !important;
  }
}
a {
  cursor: pointer;
}
* {
  padding: 0;
  margin: 0;
  font-family: "PT Sans Caption" !important;
}
.page-wrapper {
  margin: 0 auto;
}
.container {
  max-width: 1179px;
  margin: 0 auto;
  padding: 0 20px;
}
.header {
  margin-left: 0;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  // background-color: #1c64a7;
  @media (max-width: $tab) {
    padding: 16px 0;
    box-shadow: 0px 1px 15px rgba(7, 43, 68, 0.1);
  }
  &__containe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
  }
  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    @media (max-width: $tab) {
      gap: 8px;
      position: relative;
    }
  }

  &__menu {
    display: flex;
    gap: 48px;

    @media (max-width: $tab) {
      margin: 0;
      display: none;
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 50%;
      left: 50%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 26px;
      transform: translate(-50%, -50%);
      background-color: #1c64a7;
      z-index: 1;
    }
  }
  &__menu-item {
    color: white;
  }

  &__link {
    font-size: 18px;
    line-height: 26px;
    color: rgba(28, 100, 167, 1);
    position: relative;
    text-decoration: none;

    &::after {
      content: "";
      display: block;
      width: 0;
      margin: 5px auto 0;
      height: 1px;
      background-color: white;
      transition: width 0.6s;
    }

    &:hover {
      &::after {
        width: 80%;
        color: white !important;
      }
    }
    &--active {
      &::after {
        width: 80%;
      }
    }
    @media (max-width: $tab) {
      &::after {
        display: none;
      }
    }
  }
  &__mag {
    height: 24px;
    width: 24px;
    display: flex;
    flex-direction: row;
    z-index: 10;
  }

  &__gam-btn {
    display: none;

    @media (max-width: $tab) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5px;
      width: 32px;
      height: 32px;
      cursor: pointer;
    }
  }
  &__gam-line {
    width: 16px;
    height: 1px;
    transition: all 0.7s;
    background: rgba(14, 52, 87, 1);
  }
  .gam-btn {
    margin-left: 0;
    z-index: 10;
    @media (max-width: $tab) {
      margin-left: 170px;
    }
  }
  // .gam-btn-input {
  //   display: none;

  //   &:checked {
  //     ~ .header__menu {
  //       display: flex;
  //       background-color: white;
  //     }
  //     ~ .gam-btn {
  //       .header__gam-line:first-child {
  //         transform: rotate(311deg) translate(-2px, 2px);
  //       }
  //       .header__gam-line:nth-child(2) {
  //         display: none;
  //       }
  //       .header__gam-line:last-child {
  //         transform: rotate(230deg) translate(2px, 2px);
  //       }
  //     }
  //   }
  // }
}
.tm-header {
  z-index: 100;
  background: transparent;
  position: absolute;
  width: 100%;
  top: 0;
}

.tm-header-item {
  display: flex;
  align-items: center;
  height: 68px;
}

.tm-header__logo {
  display: inline-block;
}

.tm-header-button {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
}

.tm-header-button-menu {
  z-index: 10;
  margin-left: 12px;
}

.tm-header-button:hover, .tm-header-button:focus {
  color: #1c64a7;
  text-decoration: none;
}

.tm-header-menu {
  margin: 0;
  padding: 0;
}

.tm-header-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.tm-header-menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tm-header-menu-item-link {
  font-family: 'PT Sans Caption';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  margin-top: 5px;
  /* identical to box height, or 144% */

  text-transform: capitalize;

  /* White */

  color: #1c64a7;
}


.tm-header-menu-item-link::after {
  content: "";
  display: block;
  width: 0;
  margin: 5px auto 0;
  height: 1px;
  background-color: #1c64a7;
  transition: width 0.6s;
}

.tm-header-menu-item-link:hover {
  color: #1c64a7 !important;
  text-decoration: none;
}

.tm-header-menu-item-link:hover::after {
  width: 80%;
  color: #1c64a7!important;
}

.tm-header-menu-item-link--active {
  color: #1c64a7!important;
}

.tm-header-menu-item-link--active::after {
  width: 80%;
}

@media (max-width: 959px) {
  .tm-header .gam-btn-input:checked ~ .tm-header-menu {
    background-color: #fff;
    position: fixed;
    display: flex!important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

@media (min-width: 960px) {
  .tm-header-menu {
    left: 200px;
    right: 200px;
    flex-direction: row;
    gap: 48px;
  }
}

.tm-header .gam-btn-input:checked ~ .gam-btn .header__gam-line:first-child {
  -webkit-transform: rotate(311deg) translate(-2px, 2px);
          transform: rotate(311deg) translate(-2px, 2px);
}

.tm-header .gam-btn-input:checked ~ .gam-btn .header__gam-line:nth-child(2) {
  display: none;
}

.tm-header .gam-btn-input:checked ~ .gam-btn .header__gam-line:last-child {
  -webkit-transform: rotate(230deg) translate(2px, 2px);
          transform: rotate(230deg) translate(2px, 2px);
}
.placeholder{
  padding-bottom:60px ;
}

#map{
margin-top: 120px !important;
margin-bottom: 20px;
height: 83vh;
}
footer {
  background-color: rgba(106, 139, 170, 0.1);
}
.footer {
  &__box {
    border-bottom: 1px solid rgba(186, 199, 210, 1);
    padding-top: 60px;
    padding-bottom: 30px;
    margin-bottom: 36px;
  }
  
  &__menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 80px;

    @media (max-width: $tab) {
      display: flex;
      flex-direction: column;

      flex-wrap: wrap;
      gap: 4px;
    }
  }
  &__menu-item1 {
    display: flex;
    flex-direction: row;
  }
  &__box-item {
    display: flex;
    flex-wrap: nowrap !important;
    list-style: none;
    justify-content: center;
   
  }
  &__box-item1 {
    margin-left: 200px;
    text-align: right;
    @media (max-width: $tab) {
     text-align:left ;
    }
  }
 
  &__link {
    color: rgba(28, 100, 167, 1);
  }
  &__link-wrapper {
    display: block;
    margin-right: 50px;
    @media (min-width: $tab) {
     display: inline;
     margin-left: 0;
    }
  }
  &__logo {
    display: block;
    @media (max-width: $tab) {
      display: none;
    }
  }
  &__item {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
    @media (max-width: $tab) {
      display: flex;
      flex-direction: column-reverse;
      flex-wrap: wrap;
      gap: 23px;
    }
  }
  &__item2--contact {
    font-family: "Montserrat" !important;
    color: rgba(14, 52, 87, 1) !important;
    font-size: 16px;
    @media (max-width: $tab) {
      font-size: 14px;
    }
  }
  &__item2--p {
    font-family: "Montserrat" !important;
    color: rgba(14, 52, 87, 1) !important;
    font-size: 16px;
    @media (max-width: $tab) {
      font-size: 14px;
    }
  }
  &__item3--p {
    font-family: "Montserrat" !important;
    font-size: 16px;
    color: rgba(14, 52, 87, 1) !important;
    @media (max-width: $tab) {
      font-size: 14px;
    }
  }
  &__item3--social {
    display: flex;
    justify-content: space-between;
    @media (max-width: $tab) {
      display: flex;
      justify-content: flex-start;
      gap: 20px;
    }
  }
  &__item3--img {
    cursor: pointer;
  }
  &__uk-img {
    @media (max-width: $tab) {
      width: 100%;
    }
  }
  &__img {
    @media (max-width: $tab) {
      width: 100% !important;
      object-fit: cover;
    }
  }
}
