ul li {
  list-style: none !important;
}

a {
  text-decoration: none !important;
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
  font-family: "PT Sans Caption" !important;
}

.page-wrapper {
  margin: 0 auto;
}

.container {
  max-width: 1179px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  background-color: #1c64a7;
}

@media (max-width: 991px) {
  .header {
    padding: 16px 0;
  }
}

.header__containe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 48px;
}

@media (max-width: 991px) {
  .header__nav {
    gap: 8px;
    position: relative;
  }
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 48px;
}

@media (max-width: 991px) {
  .header__menu {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 49%;
    left: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 26px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: #1c64a7;
    z-index: 1;
  }
}

.header__menu-item {
  color: white;
}

.header__link {
  font-size: 18px;
  line-height: 26px;
  color: white;
  position: relative;
  text-decoration: none;
}

.header__link::after {
  content: "";
  display: block;
  width: 0;
  margin: 5px auto 0;
  height: 1px;
  background-color: white;
  -webkit-transition: width 0.6s;
  transition: width 0.6s;
}

.header__link:hover::after {
  width: 80%;
  color: white !important;
}

.header__link--active::after {
  width: 80%;
}

@media (max-width: 991px) {
  .header__link::after {
    display: none;
  }
}

.header__mag {
  height: 24px;
  width: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 10;
}

.header__gam-btn {
  display: none;
}

@media (max-width: 991px) {
  .header__gam-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 7px;
    width: 32px;
    height: 32px;
    cursor: pointer;
  }
}

.header__gam-line {
  width: 11px;
  height: 1px;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  background: black;
}

.header .gam-btn {
  z-index: 10;
}

@media (max-width: 991px) {
  .header .gam-btn {
    margin-left: 170px;
  }
}

.header .gam-btn-input {
  display: none;
}

.header .gam-btn-input:checked ~ .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1c64a7;
}

.header .gam-btn-input:checked ~ .gam-btn .header__gam-line:first-child {
  -webkit-transform: rotate(311deg) translate(-3px, 3px);
          transform: rotate(311deg) translate(-3px, 3px);
}

.header .gam-btn-input:checked ~ .gam-btn .header__gam-line:last-child {
  -webkit-transform: rotate(230deg) translate(2px, 3px);
          transform: rotate(230deg) translate(2px, 3px);
}

.first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.first___par {
  padding-bottom: 24px;
  font-size: 20px;
  line-height: 28px;
}

#label {
  position: relative;
}

#label:before {
  content: "";
  position: absolute;
  right: 13px;
  top: 10px;
  bottom: 0;
  width: 17px;
  background: url("../img/serch.svg") no-repeat;
}

#input {
  width: 331px;
  padding: 8px 13px;
  border: 1px solid #bac7d2;
}

h1 {
  font-size: 48px;
}

.blog__title {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

h1 {
  font-weight: 700 bold;
  font-size: 48px;
  line-height: 62px;
}

.box__title {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  margin-bottom: 48px;
}

.box__btn {
  margin: 0 auto;
  padding-top: 36px;
  padding-bottom: 120px;
}

.box__card {
  max-width: 300px;
  position: relative;
  overflow: hidden;
}

.box__item1 {
  padding: 14px 12px;
}

.box__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.box__arch {
  border: 1px solid black;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1px;
  width: 83px;
  font-size: 12px;
}

.box__more {
  text-decoration: underline;
}

.uk-card-title {
  text-transform: uppercase;
  font-family: "PT Sans Caption";
}

footer {
  background-color: rgba(106, 139, 170, 0.1);
}

.footer__box {
  border-bottom: 1px solid #bac7d2;
  padding-top: 60px;
  padding-bottom: 30px;
  margin-bottom: 36px;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 80px;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 60px;
}

.footer__item3--social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__item3--img {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */