ul li {
  list-style: none !important;
}

a {
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
  font-family: "PT Sans Caption" !important;
}

.page-wrapper {
  margin: 0 auto;
}

.container {
  max-width: 1179px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  margin-left: 0;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
}

@media (max-width: 991px) {
  .header {
    padding: 16px 0;
  }
}

.header__containe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 10;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 48px;
}

@media (max-width: 991px) {
  .header__nav {
    gap: 8px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .header__nav-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 48px;
}

@media (max-width: 991px) {
  .header__menu {
    margin: 0;
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 50%;
    left: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 26px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: #1c64a7;
    z-index: 1;
  }
}

.header__menu-item {
  color: white;
}

.header__link {
  font-size: 18px;
  line-height: 26px;
  color: white;
  position: relative;
  text-decoration: none;
}

.header__mag-item {
  margin-left: 111px;
}

@media (max-width: 991px) {
  .header__mag-item {
    margin-left: 0px;
  }
}

.header__mag {
  height: 24px;
  width: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 10;
}

.header__gam-btn {
  display: none;
}

@media (max-width: 991px) {
  .header__gam-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
  }
}

.header__gam-line {
  width: 16px;
  height: 1px;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  background: white;
}

.header .gam-btn {
  margin-left: 0;
  z-index: 10;
}

@media (max-width: 991px) {
  .header .gam-btn {
    margin-left: 170px;
  }
}

.tm-header {
  z-index: 100;
  background: transparent;
  position: absolute;
  width: 100%;
  top: 0;
}

.tm-header-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 68px;
}

.tm-header__logo {
  display: inline-block;
}

.tm-header-button {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  font-size: 16px;
}

.tm-header-button-menu {
  z-index: 10;
  margin-left: 12px;
}

.tm-header-button:hover, .tm-header-button:focus {
  color: #fff;
  text-decoration: none;
}

.tm-header-menu {
  margin: 0;
  padding: 0;
}

.tm-header-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 16px;
  padding-right: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tm-header-menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tm-header-menu-item-link {
  font-family: 'PT Sans Caption';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  margin-top: 5px;
  /* identical to box height, or 144% */
  text-transform: capitalize;
  /* White */
  color: #FFFFFF;
}

.tm-header-menu-item-link::after {
  content: "";
  display: block;
  width: 0;
  margin: 5px auto 0;
  height: 1px;
  background-color: white;
  -webkit-transition: width 0.6s;
  transition: width 0.6s;
}

.tm-header-menu-item-link:hover {
  color: white !important;
  text-decoration: none;
}

.tm-header-menu-item-link:hover::after {
  width: 80%;
  color: white !important;
}

.tm-header-menu-item-link--active {
  color: white !important;
}

.tm-header-menu-item-link--active::after {
  width: 80%;
}

@media (max-width: 959px) {
  .tm-header .gam-btn-input:checked ~ .tm-header-menu {
    background-color: #1c64a7;
    position: fixed;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

@media (min-width: 960px) {
  .tm-header-menu {
    left: 200px;
    right: 200px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 48px;
  }
}

.tm-header .gam-btn-input:checked ~ .gam-btn .header__gam-line:first-child {
  -webkit-transform: rotate(311deg) translate(-2px, 2px);
  transform: rotate(311deg) translate(-2px, 2px);
}

.tm-header .gam-btn-input:checked ~ .gam-btn .header__gam-line:nth-child(2) {
  display: none;
}

.tm-header .gam-btn-input:checked ~ .gam-btn .header__gam-line:last-child {
  -webkit-transform: rotate(230deg) translate(2px, 2px);
  transform: rotate(230deg) translate(2px, 2px);
}

.first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

@media (max-width: 991px) {
  .first {
    height: 450px;
  }
}

.first__par {
  padding-bottom: 24px;
  font-size: 20px;
  line-height: 28px;
  margin: 0px;
  z-index: 1;
  color: white;
}

@media (max-width: 991px) {
  .first__par {
    font-size: 14px;
    padding-bottom: 16px;
    line-height: 20px;
  }
}

.first__input {
  border-radius: 4px;
}

#label {
  position: relative;
}

#label:before {
  content: "";
  position: absolute;
  right: 13px;
  top: 10px;
  bottom: 0;
  width: 17px;
  background: url("../img/serch.svg") no-repeat;
}

#input {
  width: 288px;
  padding: 8px 13px;
  border: 1px solid #bac7d2;
  border-radius: 4px;
}

.blog__title {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  z-index: 1;
  color: white;
}

@media (max-width: 991px) {
  h1 {
    text-align: center;
    font-size: 22px;
    line-height: 28px;
    margin: 0;
  }
}

.box__title {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  margin-bottom: 48px;
  margin-top: 120px;
  color: #0e3457;
  font-size: 28px;
  line-height: 37px;
}

@media (max-width: 991px) {
  .box__title {
    margin-bottom: 48px;
    margin-top: 120px;
  }
}

.box__btn {
  margin: 0 auto;
  padding-top: 36px;
  padding-bottom: 120px;
  color: #1c64a7 !important;
}

@media (max-width: 991px) {
  .box__btn {
    padding-bottom: 60px;
  }
}

.box__btn-p {
  background-color: #1c64a7;
}

.box__card {
  max-width: 300px;
  position: relative;
  overflow: hidden;
}

.box__item1 {
  padding: 14px 12px;
}

.box__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.box__arch {
  border: 1px solid #bac7d2;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
  padding-right: 8px;
  font-size: 12px;
  font-family: 'Montserrat' !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box__more {
  text-decoration: underline;
  color: #1c64a7;
  vertical-align: middle;
  font-family: 'Montserrat' !important;
}

.box__item3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #bac7d2;
}

.box__p {
  font-size: 12px;
  margin: 0px;
}

.box__item--title {
  font-size: 22px;
  padding-top: 12px;
  padding-bottom: 4px;
  margin: 0;
  text-align: start;
  color: #0e3457 !important;
}

.box__item--text {
  margin: 0;
  font-size: 14px;
  font-weight: 20px;
  font-family: 'Montserrat' !important;
  line-height: 1.4 !important;
  color: #6a8baa;
  padding-bottom: 14px;
}

.box__item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 21px;
}

.box__item2--box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #bac7d2;
  gap: 4px;
}

.box__item2--box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #bac7d2;
  gap: 6px;
}

.box__item2--img {
  height: 21px;
  width: 21px;
}

.box__item2--share {
  margin: 0;
  font-size: 14px;
  color: #1c64a7;
  font-family: 'Montserrat' !important;
}

.box__item2--p {
  margin: 0;
  font-size: 14px;
}

.box__item2--img {
  height: 21px;
  width: 21px;
}

button {
  border-radius: 4px !important;
}

.uk-card-title {
  text-transform: uppercase;
  font-family: "PT Sans Caption";
}

h3 {
  color: #0e3457;
  line-height: 1.2 !important;
}

footer {
  background-color: rgba(106, 139, 170, 0.1);
}

.footer__box {
  border-bottom: 1px solid #bac7d2;
  padding-top: 60px;
  padding-bottom: 30px;
  margin-bottom: 36px;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 80px;
}

@media (max-width: 991px) {
  .footer__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 4px;
  }
}

.footer__menu-item1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer__box-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap !important;
      flex-wrap: nowrap !important;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__box-item1 {
  margin-left: 200px;
  text-align: right;
}

@media (max-width: 991px) {
  .footer__box-item1 {
    text-align: left;
  }
}

.footer__link {
  color: #1c64a7;
}

.footer__link-wrapper {
  display: block;
  margin-right: 50px;
}

@media (min-width: 991px) {
  .footer__link-wrapper {
    display: inline;
  }
}

.footer__logo {
  display: block;
}

@media (max-width: 991px) {
  .footer__logo {
    display: none;
  }
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 60px;
}

@media (max-width: 991px) {
  .footer__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 23px;
  }
}

.footer__item2--contact {
  font-family: "Montserrat" !important;
  color: #0e3457 !important;
  font-size: 16px;
}

@media (max-width: 991px) {
  .footer__item2--contact {
    font-size: 14px;
  }
}

.footer__item2--p {
  font-family: "Montserrat" !important;
  color: #0e3457 !important;
  font-size: 16px;
}

@media (max-width: 991px) {
  .footer__item2--p {
    font-size: 14px;
  }
}

.footer__item3--p {
  font-family: "Montserrat" !important;
  font-size: 16px;
  color: #0e3457 !important;
}

@media (max-width: 991px) {
  .footer__item3--p {
    font-size: 14px;
  }
}

.footer__item3--social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 991px) {
  .footer__item3--social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 20px;
  }
}

.footer__item3--img {
  cursor: pointer;
}

@media (max-width: 991px) {
  .footer__uk-img {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .footer__img {
    width: 100% !important;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
/*# sourceMappingURL=style.css.map */